<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yellr.net.yellr_android" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/YellrTheme" >
        </activity>

        <service
            android:name=".intent_services.assignments.AssignmentsIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".intent_services.assignments.AssignmentsReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".intent_services.stories.StoriesIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".intent_services.stories.StoriesReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".intent_services.upload_media.UploadMediaIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".intent_services.upload_media.UploadMediaReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>

        <service
            android:name=".intent_services.publish_post.PublishPostIntentService"
            android:exported="false" >
        </service>

        <receiver
            android:name=".intent_services.publish_post.PublishPostReceiver"
            android:enabled="true"
            android:exported="true" >
        </receiver>
    </application>

</manifest>
